.artistSearchContainer {
    overflow: hidden;
}
.searchContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-width: 80vw;
    width: 100%;
    z-index: 9999;
}
.searchResultsContainer { 
    height: calc(100vh - 72px);
    margin: 60px -12px 12px 0 !important;
    overflow-y: scroll;
    overflow-x: hidden;
}