
/* Card ovrrides - If the card is needed without the overrides a new class can be created to use the below overrides */
.itxi .ant-card-cover img {
    padding: 1px;
    height: 300px;
    object-fit: cover;
}
.itxi .ant-card {
    display: flex;
    height: 100%;
    flex-direction: column;
}
.itxi .ant-card-actions {
    margin-top: auto;
}
