
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.flex-direction-column {
    flex-direction: column;
}
.mt-auto {
    margin-top: auto;
}

.d-flex-important {
    display: flex !important;
}