
/* Images Lazy loading */
.img-container {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    background: #fff;
}
.img-container > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
@keyframes fadeInImg {
 from {
     opacity: 0
 }
 to {
     opacity: 1
 }
}
.img-loading {
    opacity: 0;
    width: 100%;
    height: auto;
}
.img-loaded {
    animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1) 1;
    position: relative;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
    animation-delay: 0.1s;
}
